@using Microsoft.AspNetCore.Components.Web

@typeparam TItem
@typeparam TValue

<div class="blazored-typeahead @FieldCssClasses">

    <div class="blazored-typeahead__controls">

        @if (Disabled)
        {
            <div class="blazored-typeahead__input-mask-wrapper blazored-typeahead__input-mask-wrapper--disabled">
                @if (IsMultiselect)
                {
                    @if (Values != null)
                    {
                        @foreach (var value in Values)
                        {
                            <div class="blazored-typeahead__multi-value">
                                <div class="blazored-typeahead__multi-value-label">
                                    @SelectedTemplate(value)
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    if (Value != null)
                    {
                        <div class="blazored-typeahead__input-mask" tabindex="0">
                            @SelectedTemplate(Value)
                        </div>
                    }
                }
            </div>

            @if (EnableDropDown)
            {
                <div class="blazored-typeahead__input-icon blazored-typeahead__input-icon--disabled">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="blazored-typeahead__down-arrow">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                            <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                        </g>
                    </svg>
                </div>
            }
        }
        else
        {
            @if (IsMultiselect)
            {
                <div class="blazored-typeahead__input-multiselect-wrapper">
                    @if (Values != null)
                    {
                        @foreach (var value in Values)
                        {
                            <div class="blazored-typeahead__multi-value">
                                <div class="blazored-typeahead__multi-value-label">
                                    @SelectedTemplate(value)
                                </div>
                                <button type="button"
                                        class="blazored-typeahead__multi-value-clear"
                                        title="Remove Item"
                                        tabindex="-1"
                                        @onclick="@(() => RemoveValue(value))">
                                    <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
                                        <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z" />
                                    </svg>
                                </button>
                            </div>
                        }
                    }

                    <input @ref="_searchInput"
                           @bind-value="SearchText"
                           @bind-value:event="oninput"
                           @onkeydown="HandleKeydown"
                           @onkeyup="HandleKeyup"
                           @onkeyup:stopPropagation="@StopPropagation"
                           @onkeyup:preventDefault="@PreventDefault"
                           @onfocus="HandleInputFocus"
                           autocomplete="off"
                           @attributes="AdditionalAttributes"
                           type="text"
                           class="blazored-typeahead__input blazored-typeahead__input-multi" />
                </div>
            }
            else
            {
                if (IsShowingMask && Value != null)
                {
                    <div class="blazored-typeahead__input-mask-wrapper">
                        <div class="blazored-typeahead__input-mask" @onclick="HandleClickOnMask" @onkeyup="HandleKeyUpOnMask" tabindex="0" @ref="_mask">
                            @SelectedTemplate(Value)
                        </div>

                        @if (!DisableClear)
                        {
                            <div class="blazored-typeahead__clear" @onclick="HandleClear" tabindex="-1">
                                &#10005;
                            </div>
                        }
                    </div>
                }
                <input @ref="_searchInput"
                       @bind-value="SearchText"
                       @bind-value:event="oninput"
                       @onkeyup="HandleKeyup"
                       @onkeyup:stopPropagation="@StopPropagation"
                       @onkeyup:preventDefault="@PreventDefault"
                       @onfocus="HandleInputFocus"
                       autocomplete="off"
                       @attributes="AdditionalAttributes"
                       type="text"
                       class="blazored-typeahead__input @(IsShowingMask ? "blazored-typeahead__input-hidden" : null)" />
            }
        }

        @if (IsSearching)
        {
            <div class="blazored-typeahead__loader"></div>
        }

        @if (!Disabled && EnableDropDown)
        {
            <div class="blazored-typeahead__input-icon" @onclick="ShowMaximumSuggestions" @onkeyup="HandleKeyUpOnShowDropDown" tabindex="@(IsShowingSuggestions ? "-1" : "0")">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="blazored-typeahead__down-arrow">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                    </g>
                </svg>
            </div>
        }
    </div>

    @if (ShouldShowHelpTemplate())
    {
        <div class="blazored-typeahead__results">
            <div class="blazored-typeahead__results-help-template">
                @HelpTemplate
            </div>
        </div>
    }
    else if (ShouldShowSuggestions())
    {
        <div class="blazored-typeahead__results">
            @if (HeaderTemplate != null)
            {
                <div class="blazored-typeahead__results-header">
                    @HeaderTemplate
                </div>
            }

            @for (var i = 0; i < Suggestions.Length; i++)
            {
                var item = Suggestions[i];

                <div @key="item"
                     class="blazored-typeahead__result @GetSelectedSuggestionClass(item, i)"
                     @onclick="@(_ => SelectResult(item))">
                    @ResultTemplate(item)
                </div>
            }

            @if (FooterTemplate != null)
            {
                <div class="blazored-typeahead__results-footer">
                    @FooterTemplate
                </div>
            }
        </div>
    }
    else if (ShowNotFound())
    {
        <div class="blazored-typeahead__results">
            @if (HeaderTemplate != null)
            {
                <div class="blazored-typeahead__results-header">
                    @HeaderTemplate
                </div>
            }

            @if (NotFoundTemplate != null)
            {
                <div class="blazored-typeahead__notfound">
                    @NotFoundTemplate
                </div>
            }
            else
            {
                <div class="blazored-typeahead__notfound">
                    No Results Found
                </div>
            }

            @if (FooterTemplate != null)
            {
                <div class="blazored-typeahead__results-footer">
                    @FooterTemplate
                </div>
            }
        </div>
    }
</div>
