@typeparam TItem
@inherits BlazoredTypeaheadBase<TItem>

<div class="blazored-typeahead">
    <div class="blazored-typeahead__controls" onclick="@HandleFocus">
        @if (EditMode)
        {
            <input class="blazored-typeahead__input"
                   bind-value-oninput="@SearchText"
                   onfocus="@HandleFocus"
                   onkeyup="@HandleKeypress"
                   type="text"
                   autocomplete="off"
                   placeholder="@Placeholder" />
        }
        else if (!EditMode && Item != null)
        {
            <div class="blazored-typeahead__input-mask">
                @SelectedTemplate(Item)
            </div>
        }
    </div>

    @if (Searching && SearchResults.Any())
    {
        <div class="blazored-typeahead__results">
            @foreach (var item in SearchResults)
            {
                if (ResultTemplate != null)
                {
                    <div class="blazored-typeahead__result" onclick="@(async () => await SelectResult(item))">
                        @ResultTemplate(item).
                    </div>
                }
                else
                {
                    <div class="blazored-typeahead__result" onclick="@(async () => await SelectResult(item))">
                        @item.ToString()
                    </div>
                }
            }
        </div>
    }
    else if (Searching && !SearchResults.Any())
    {
        <div class="blazored-typeahead__results">
            @if (NotFoundTemplate != null)
            {
                <div class="blazored-typeahead__notfound">
                    @NotFoundTemplate
                </div>
            }
            else
            {
                <div class="blazored-typeahead__notfound">
                    Not Results Found.
                </div>
            }
        </div>
    }
</div>